* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #028090;
	--color-secondary: #f0f3bd;
	--color-resalt-1: #02c39a;
	--color-resalt-1: #c3022b;
	--color-b-primary: #f8f9fa;
	--color-b-secondary: #212529;
}
