.aprendiendo__main {
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-position: center;
	}
}

.aprendiendo__main-title {
	width: 100%;
	height: 100%;
	background: linear-gradient(96.99deg, #028090 0%, #02c39a 100%);
	border-radius: 0 5px 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.aprendiendo__items {
	margin: 0 170px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

.aprendiendo__item {
	background-color: #ffffff;
	height: min-content;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	transition: 180ms all;

	&:hover {
		box-shadow: 0px 5px 30px rgba(141, 139, 139, 0.25);
	}

	figure {
		width: 100px;
		height: 100px;
		margin: 41px 0;
		border-radius: 50%;
		border: 3px solid #c4c4c4;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 64px;
			height: 64px;
		}
	}

	p {
		padding: 10px 16px;
		margin-bottom: 29px;
	}
}

@media (min-width: 576px) {
	.aprendiendo__main-title h2 {
		font-size: 60px;
	}
}

@media (max-width: 576px) {
	.aprendiendo__main-title {
		height: 200px;
	}

	.aprendiendo__items {
		width: 90%;
		margin: auto;
		margin-top: 70px;
		grid-gap: 24px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(1, 270px);
	}
}
