.contacto__container {
	padding: 38px 0;
	text-align: center;
	background: linear-gradient(97.51deg, #02c39a 0%, #028090 100%);
}

.contacto__description,
form {
	margin: 0 260px;
}

.contacto__description p {
	font-family: $font-primary;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
}

.contacto__description p:nth-child(1) {
	font-size: 40px;
	margin-bottom: 6px;
}

.contacto__description p:nth-child(2) {
	font-size: 32px;
	margin-bottom: 34px;
}

.contacto__container form {
	text-align: left;
}

.contacto__container form label {
	display: inline-block;
	margin-bottom: 4px;
	color: #ffffff;
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}

.contacto__container form input,
.contacto__container form textarea {
	width: 100%;
	outline: none;
	background: #ffffff;
	border: 1px solid #f0f3bd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px 9px;
}

.contacto__form-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	margin-bottom: 29px;
}

.contacto__container .form__btn {
	text-align: right;
}

.contacto__container .form__btn .btn {
	background: #c3022b;
	border-radius: 10px;
	padding: 10px 20px;
	color: #ffffff;
	outline: none;
	border: none;
	cursor: pointer;
	margin-top: 40px;
}
