header {
	width: 100%;
	height: 80px;
	background-color: rgba($color: #ffffff, $alpha: 0);
	position: fixed;
	z-index: 1000;
	transition: 0.3s all ease;

	nav a {
		color: #ffffff;

		&:hover {
			color: $color-secondary;
		}
	}

	.logo {
		display: flex;

		svg {
			width: 183px;
		}
	}
}

header.sticky {
	.active-open i {
		color: $color-b-secondary;
	}

	color: $color-b-secondary;
	background-color: rgba($color: #ffffff, $alpha: 1);

	nav a {
		color: $color-b-secondary;

		&:hover {
			color: $color-resalt-1;
		}
	}

	.logo {
		color: $color-b-secondary;
	}
}

nav {
	width: 75%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 80px;
	align-items: center;
	grid-gap: 24px;
	font-family: $font-primary;
	font-weight: 600;
}

.nav__items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px;
	text-align: center;
	transition: all 0.3s;
}

.active-closed,
.active-open {
	display: none;

	i {
		color: #ffffff;
	}
}

@media (max-width: 576px) {
	main {
		transition: all 0.3s;
	}
	header {
		width: 100vw;
		height: 60px;
		display: flex;
		align-items: center;

		nav {
			width: 90%;
			margin: 0 auto;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				color: $color-b-secondary;
			}
		}
	}

	header .logo {
		color: $color-b-secondary;
	}

	.active-open {
		i {
			color: $color-b-secondary;
		}
	}

	.nav__items {
		width: 80vw;
		height: calc(100vh - 60px);
		position: fixed;
		top: 60px;
		left: -120%;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;

		.nav__link {
			padding: 1rem 0;
		}
	}

	.nav__items.active {
		left: 0%;
	}

	.active-closed {
		display: inline-block;
		padding-top: 32px;
		padding-right: 16px;
		text-align: right;
		width: 100%;
	}

	.active-open {
		display: block;
		grid-column-start: 12;
		text-align: center;
	}

	.nav-active {
		transform: translate(80%, 0);
	}

	.nav-active::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.3);
		z-index: 100;
		transition: all 0.3s;
	}

	.no-scroll {
		overflow: hidden;
	}
}
