$color-primary: #028090;
$color-secondary: #f0f3bd;

$color-resalt-1: #02c39a;
$color-resalt-2: #c3022b;

$color-b-primary: #f8f9fa;
$color-b-secondary: #212529;

$font-primary: 'Fira Sans', sans-serif;
